/* utility styles */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    padding: 0;
}

/* header styles */
.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

/* main styles */
.page-content {
    width: 80%;
    text-align: center;
    margin-top: 50px;
    margin: 50px auto;
}

#startBtn, .submit-btn, .go-back, .clear-score {
    background-color: rgb(77, 0, 153);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 5px 10px;
}

#startBtn:hover, .submit-btn:hover, .go-back:hover, .clear-score:hover, #question-btns:hover {
    background-color: rgb(191, 128, 255);
}

.view-high-score {
    background-color: transparent;
    color: rgb(77, 0, 153);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
}

.view-high-score:hover {
    background-color: lightgray;
}

#main-p {
    font-size: 18px;
}

.question-list {
    width: 50%;
    margin: 10px auto;
    list-style-type: decimal;
    font-size: 18px;
    list-style-position: inside;
}

#question-btns {
    display: block;
    background-color: rgb(77, 0, 153);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    width: 50%;
}

.user-answer {
    color: grey;
    border-top: 2px solid lightgrey;
    font-size: 18px;
    font-style: italic;
    padding: 10px 15px;
    margin: 10px auto;
}

.user-score {
    display: block;
    margin: 10px auto;
    width: 50%;
    padding: 5px;
}

.score-list, .score-list::marker {
    text-align: left;
    background-color: lightgray;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}